@import url('https://fonts.googleapis.com/css2?family=Open+Sans:400,600,300');

$blue: #82acd9;

.color-main {
  color: #0c56a5;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.uppercase{
  text-transform: uppercase;
}
